# Ignore these files
/*
/.yarn/.cache/
/.yarn/unplugged/*
/.yarn/install-state.gz

# Except these folders
!/.yarn/
!/.yarn/unplugged/term-size*
!/.storybook/
!/packages/

# Except these files
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitignore
!.gitlab-ci.yml
!.pnp.cjs
!.prettierignore
!.prettierrc.js
!.yarnrc
!.yarnrc.yml
!babel.config.js
!CHANGELOG.md
!Dockerfile
!jest-setup.js
!jest.config.js
!package.json
!README.md
!yarn.lock
