# Ignore these files
/*

# Except these folders
!/.storybook/
!/packages/

# Except these files
!.editorconfig
!.eslintignore
!.eslintrc.js
!.gitignore
!.gitlab-ci.yml
!.pnp.cjs
!.prettierignore
!.prettierrc.js
!.tool-versions
!babel.config.js
!bun.lockb
!CHANGELOG.md
!Dockerfile
!jest-setup.js
!jest.config.js
!package.json
!README.md
!vercel.json
